$about-article-col-gap: unit(4);

.about .article .row {
  display: flex;
  flex-direction: column;
  margin-left: $about-article-col-gap * -0.5;
  margin-right: $about-article-col-gap * -0.5;

  @include at-media("tablet") {
    flex-direction: row;
  }
}

.about .article .col {
  flex: 1;
  padding-left: $about-article-col-gap * 0.5;
  padding-right: $about-article-col-gap * 0.5;
}
