// DEPRECATED

@use "rtg-design-web" as *;

.article {
  padding-top: units($theme-article-margin-phone);
  padding-bottom: units($theme-article-margin-phone);

  @include at-media("tablet") {
    padding-top: units($theme-article-margin-tablet);
    padding-bottom: units($theme-article-margin-tablet);
  }
}
