@use "rtg-design-web" as *;

.avatar {
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

// Size variants

.avatar.xs {
  width: units($theme-avatar-size-xs);
  height: units($theme-avatar-size-xs);
}

.avatar.sm {
  width: units($theme-avatar-size-sm);
  height: units($theme-avatar-size-sm);
}

.avatar.md {
  width: units($theme-avatar-size-md);
  height: units($theme-avatar-size-md);
}

.avatar.lg {
  width: units($theme-avatar-size-lg);
  height: units($theme-avatar-size-lg);
}
