@use 'sass:math';

.big-list .list-row {
  display: flex;
  flex-direction: column;
  padding-top: unit(2);
  padding-bottom: unit(2);
  border-width: 1px;
  border-color: color($theme-color-background-inverse);
  border-bottom-style: solid;

  @include at-media("tablet") {
    flex-direction: row;
  }
}

.big-list .name {
  padding-top: unit(2);
  padding-bottom: unit(2);
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-3xl,
    $theme-line-height-heading
  );
}

.big-list .name > .link {
  @include transition(color);

  &:hover {
    color: color($theme-color-primary);
  }
}

.big-list .numeral {
  width: math.percentage(math.div(1, 6));
  padding-top: unit(2);
  padding-bottom: unit(2);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-lg,
    $theme-line-height-heading
  );
}
