.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  @include clearfix;
}

.container.phone {
  max-width: breakpoint("phone");
}

.container.phone-lg {
  max-width: breakpoint("phone-lg");
}

.container.tablet {
  max-width: breakpoint("tablet");
}

.container.tablet-lg {
  max-width: breakpoint("tablet-lg");
}

.container.desktop {
  max-width: breakpoint("desktop");
}

.container.desktop-lg {
  max-width: breakpoint("desktop-lg");
}

.container.widescreen {
  max-width: breakpoint("widescreen");
}
