@use "rtg-design-web" as *;

.error-page {
  max-width: breakpoint("phone");
}

.error-page.center {
  margin-left: auto;
  margin-right: auto;
}

.error-page .message {
  text-align: center;
}

.error-page .message > .title {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-2xl,
    $theme-line-height-heading
  );
}

.error-page .message > .paragraph {
  margin-top: units(1.5);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-md,
    $theme-line-height-body
  );
}
