@use "rtg-design-web" as *;

.feature-card {
  @include at-media("tablet") {
    padding-right: units(5);
    padding-bottom: units(5);
  }
}

.feature-card .heading {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-lg,
    $theme-line-height-heading
  );
}

.feature-card .body {
  margin-top: units(2);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-md,
    $theme-line-height-extended
  );
}

.feature-card .body a {
  color: color($theme-color-text-link);
}
