.footer {
  font-size: 14px;
  color: $theme-color-text-weak;
  background-color: $theme-color-background-strong;
  border-width: 1px;
  border-color: $theme-color-border;
  border-top-style: solid;
  z-index: 2000;
}
