.footer {
  font-size: font-size($theme-font-size-xs);
  color: $theme-color-text;
  background-color: $theme-color-background;
  z-index: 2000;
}

.footer .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "links" "social" "copyright";
  align-items: end;
  padding-top: unit(2);
  padding-bottom: unit(2);

  @include at-media("tablet") {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "social copyright links";
  }
}
