.global-footer {
  position: relative;
  z-index: 2000;
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-xs,
    $theme-line-height-body
  );
}

// Theme variants

.global-footer.light {
  color: color($theme-color-text);
  background-color: color($theme-color-background);
}

.global-footer.dark {
  color: color($theme-color-text-inverse);
  background-color: color($theme-color-background-inverse);
}
