.global-footer {
  position: relative;
  z-index: 2000;
  font-family: font-family("body");
  font-size: font-size($theme-font-size-xs);
  line-height: line-height($theme-line-height-body);
}

// Theme variants

.global-footer.light {
  color: color($theme-color-text);
  background-color: color($theme-color-background);
}

.global-footer.dark {
  color: color($theme-color-text-inverse);
  background-color: color($theme-color-background-inverse);
}
