.header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
  background-color: $theme-color-background;
  border-width: 1px;
  border-color: $theme-color-border;
  border-bottom-style: solid;
  z-index: 3000;
}
