.app__header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $theme-color-background;
  z-index: 3000;
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-sm,
    $theme-line-height-ui
  );
}
