@use "sass:math";
@use "rtg-design-web" as *;

.hero .content {
  @include at-media("tablet") {
    width: math.percentage(math.div(3, 4));
  }

  @include at-media("desktop") {
    width: math.percentage(math.div(1, 2));
  }
}

.hero .heading {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-2xl,
    $theme-line-height-heading
  );

  @include at-media("tablet") {
    font-size: font-size($theme-font-size-3xl);
  }
}

.hero .body {
  margin-top: units(4);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-lg,
    $theme-line-height-extended
  );
}
