@use 'sass:math';

.hero {
  padding-top: unit(7);
  padding-bottom: unit(7);
}

.hero .content {
  padding-left: $theme-site-margin;
  padding-right: $theme-site-margin;
}

.hero .body {
  @include at-media("tablet") {
    width: math.percentage(math.div(2, 3));
  }
}

.hero .body > .heading {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-2xl,
    $theme-line-height-heading
  );

  @include at-media("tablet") {
    font-size: font-size($theme-font-size-3xl);
  }
}

.hero .body > .copy {
  margin-top: unit(3);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-lg,
    $theme-line-height-extended
  );
}
