@use "sass:math";
@use "rtg-design-web" as *;

.hero .content {
  @include at-media("tablet") {
    width: math.percentage(math.div(3, 4));
  }

  @include at-media("desktop") {
    width: math.percentage(math.div(1, 2));
  }
}

.hero .heading {
  font-family: font-family("heading");
  font-size: font-size($theme-font-size-2xl);
  font-weight: font-weight("bold");
  line-height: line-height($theme-line-height-heading);

  @include at-media("tablet") {
    font-size: font-size($theme-font-size-3xl);
  }
}

.hero .body {
  margin-top: units(4);
  font-family: font-family("body");
  font-size: font-size($theme-font-size-lg);
  line-height: line-height($theme-line-height-extended);
}
