@use "rtg-design-web" as *;

.layout--margin {
  padding-top: units($theme-layout-margin-phone);
  padding-bottom: units($theme-layout-margin-phone);

  @include at-media("tablet") {
    padding-top: units($theme-layout-margin-tablet);
    padding-bottom: units($theme-layout-margin-tablet);
  }

  @include at-media("desktop") {
    padding-top: units($theme-layout-margin-desktop);
    padding-bottom: units($theme-layout-margin-desktop);
  }

  @include at-media("widescreen") {
    padding-top: units($theme-layout-margin-widescreen);
    padding-bottom: units($theme-layout-margin-widescreen);
  }
}
