@use "rtg-design-web" as *;

.posts-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: units(-2);
  margin-right: units(-2);
  @include clearfix;
}

.post-card {
  width: 100%;
  padding-left: units(2);
  padding-right: units(2);
  padding-bottom: units(4);

  @include at-media("tablet") {
    width: 50%;
  }

  @include at-media("desktop") {
    width: 33.3333%;
  }

  @include at-media("widescreen") {
    width: 25%;
  }
}

.post-card .inner {
  position: relative;
  overflow: hidden;
}

.post-card .body {
  padding-top: units(3);

  & > :first-child {
    margin-top: 0;
  }
}

.post-card .body > .title {
  margin-top: units(2);
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-xl,
    $theme-line-height-heading
  );
}

.post-card .body > .subtitle {
  text-transform: uppercase;
  font-weight: font-weight($theme-font-weight-medium);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-xs,
    $theme-line-height-ui
  );
}

.post-card .body > .subtitle a {
  @include transition(color);
}

.post-card .body > .copy {
  margin-top: units(2);
  margin-bottom: units(2);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-md,
    $theme-line-height-body
  );
}

.post-card .image-container {
  position: relative;
  height: 0;
  padding-top: 50%;
  overflow: hidden;
  background-color: color($theme-color-background-strong);
}

.post-card .image-container .image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

// Aspect variants

.post-card.square .image-container {
  padding-top: 100%;
}

.post-card.standard .image-container {
  padding-top: 66%;
}

.post-card.widescreen .image-container {
  padding-top: 56.25%;
}

// Theme variants

.post-card.light {
  & .inner {
    color: color($theme-color-text);
    background-color: color($theme-color-background);
  }

  & .body > .subtitle a {
    color: color($theme-color-primary);

    &:hover {
      color: color($theme-color-text);
    }
  }
}

.post-card.dark {
  & .inner {
    color: color($theme-color-text-inverse);
    background-color: color($theme-color-background-inverse);
  }

  & .body > .subtitle a {
    color: color($theme-color-primary);

    &:hover {
      color: color($theme-color-text-inverse);
    }
  }
}
