.posts-container {
  display: flex;
  flex-wrap: wrap;
  @include clearfix;
}

.post-card {
  width: 100%;
  padding-left: space(3);
  padding-right: space(3);
  padding-bottom: space(5);

  @include at-media("tablet") {
    width: 50%;
  }

  @include at-media("desktop") {
    width: 33.3333%;
  }

  @include at-media("widescreen") {
    width: 25%;
  }
}

.post-card .inner {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.post-card .body {
}

.post-card .title {
  margin-top: space(5);
  font-size: font-size(10);
  font-weight: font-weight($theme-font-weight-bold);
  line-height: line-height($theme-line-height-heading);
}

.post-card .copy {
  margin-top: space(4);
  margin-bottom: space(4);
  font-size: font-size($theme-font-size-md);
  line-height: line-height($theme-line-height-body);
}

.post-card .meta {
  margin-top: space(4);
  display: flex;
  justify-content: space-between;
  font-size: font-size($theme-font-size-xs);
  color: $theme-color-text-weak;
}

.post-card .tag {
  color: $theme-color-text-weak;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    color: $theme-color-text-weak-hover;
  }

  &:not(last-child) {
    margin-right: space(3);
  }
}

.post-card .image-container {
  position: relative;
  height: 0;
  padding-top: 50%;
  overflow: hidden;
  background-color: $theme-color-background-strong;
}

.post-card.square .image-container {
  padding-top: 100%;
}

.post-card.standard .image-container {
  padding-top: 66%;
}

.post-card.widescreen .image-container {
  padding-top: 56.25%;
}

.post-card .image-container .image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
