.posts-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1 * unit(2);
  margin-right: -1 * unit(2);
  @include clearfix;
}

.post-card {
  width: 100%;
  padding-left: unit(2);
  padding-right: unit(2);
  padding-bottom: unit(4);

  @include at-media("tablet") {
    width: 50%;
  }

  @include at-media("desktop") {
    width: 33.3333%;
  }

  @include at-media("widescreen") {
    width: 25%;
  }
}

.post-card .inner {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.post-card .body {
  padding-top: unit(3);

  & > :first-child {
    margin-top: 0;
  }
}

.post-card .title {
  margin-top: unit(2);
  font-size: font-size(10);
  font-weight: font-weight($theme-font-weight-bold);
  line-height: line-height($theme-line-height-heading);
}

.post-card .subtitle {
  font-size: font-size($theme-font-size-xs);
  font-weight: font-weight($theme-font-weight-medium);
  text-transform: uppercase;
}
.post-card .subtitle a {
  color: $theme-color-primary;
  @include transition(color);

  &:hover {
    color: $theme-color-text;
  }
}

.post-card .copy {
  margin-top: unit(2);
  margin-bottom: unit(2);
  font-size: font-size($theme-font-size-md);
  line-height: line-height($theme-line-height-body);
}

.post-card .image-container {
  position: relative;
  height: 0;
  padding-top: 50%;
  overflow: hidden;
  background-color: $theme-color-background-strong;
}

.post-card .image-container .image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

// Aspect variants

.post-card.square .image-container {
  padding-top: 100%;
}

.post-card.standard .image-container {
  padding-top: 66%;
}

.post-card.widescreen .image-container {
  padding-top: 56.25%;
}
