.section {
  padding-top: unit(8);
  padding-bottom: unit(8);
}

.section .header {
  margin-bottom: unit(4);
}

.section .header > .title {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-2xl,
    $theme-line-height-heading
  );

  @include at-media("tablet") {
    font-size: font-size($theme-font-size-3xl);
  }
}

.section .header > .subtitle {
  display: block;
  margin-top: unit(1.5);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-md,
    $theme-line-height-heading
  );
}

.section .header > .subtitle a {
  @include transition(color);
  &::after {
    content: " →";
  }

  &:hover {
    color: color($theme-color-primary);
  }
}
