.titled-section .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  @include at-media("tablet") {
    flex-direction: row;
  }
}

.titled-section .content {
  margin-top: unit(4);
  margin-bottom: unit(4);
}

.titled-section .title {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-2xl,
    $theme-line-height-heading
  );
}

.titled-section .link {
  text-transform: capitalize;
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-md,
    $theme-line-height-body
  );
}

.titled-section .link::after {
  content: " →";
}
