// _global.scss

html {
  scroll-behavior: smooth; // TODO: consider acessibility concerns
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $bg-primary;
  overscroll-behavior: none; // consider removing
  text-rendering: geometricPrecision;

  // Remove focus ring if user is not using "tab" to navigate
  // For more info read:
  // https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2
  &:not(.user-is-tabbing) button:focus
  &:not(.user-is-tabbing) input:focus,
  &:not(.user-is-tabbing) select:focus,
  &:not(.user-is-tabbing) textarea:focus,
  &:not(.user-is-tabbing) .nav-toggler { // Workaround. TODO find cleaner solution here and in js.
    outline: none;
  }
}

hr {
  border: 0;
  border-top: 1px solid #0003;
}

img {
  max-width: 100%; // temporary
  vertical-align: middle; // for flex images
}

// Momentum scrolling on iOS. Confirm effect on z-index
.touchscroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
