// File: _music.scss

// AV Reel
.av-grid {
  display: grid;
}

@media (max-width: 767px) {
  .av-grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}

@media (min-width: 768px) {
  .av-grid {
    grid-template-columns: repeat(1, 2fr 1fr);
    grid-gap: 15px;
  }
}

.av-grid ul li::before {
  content: "- ";
}

.client-container {
  max-width: 900px;
}

.client-container>* {
  max-width: 200px;
  flex-basis: 25%;
}

.client-vector {
  padding: 0;
  margin: 0;
  max-width: 200px;
}

