@use "sass:math";

$album-grid-gap: $theme-site-margin;

// Grid

.album .row {
  display: flex;
  flex-direction: column;
  margin-left: $album-grid-gap * -0.5;
  margin-right: $album-grid-gap * -0.5;

  @include at-media("tablet-lg") {
    flex-direction: row;
  }
}

.album .col {
  position: relative;
  width: 100%;
  padding-left: $album-grid-gap * 0.5;
  padding-right: $album-grid-gap * 0.5;

  &:not(:first-child) {
    margin-top: unit(2);
  }

  @include at-media("tablet-lg") {
    &:not(:first-child) {
      margin-top: 0;
    }
  }
}

.album .col.left {
  @include at-media("tablet-lg") {
    width: math.percentage(math.div(3, 5));
  }
}

.album .col.right {
  @include at-media("tablet-lg") {
    width: math.percentage(math.div(2, 5));
  }
}

// Header

.album .header {
  margin-bottom: unit(6);
}

.album .header .title.h1 {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-3xl,
    $theme-line-height-heading
  );
}

.album .header .title.h2 {
  margin-top: unit(2);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-md,
    $theme-line-height-heading
  );
}

// Section header

.album .section-header {
  margin-bottom: unit(4);
}

.album .section-header .title {
  text-transform: uppercase;
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-sm,
    $theme-line-height-heading
  );
}

// Cover

.album .cover-art {
  max-width: breakpoint("tablet");
}

// List item, link

.album .list-item {
  @include ellipsis;
}

.album .list-item.xs {
  margin-bottom: unit(1);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-xs,
    $theme-line-height-body
  );
}

.album .list-item.sm {
  margin-bottom: unit(1.5);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-sm,
    $theme-line-height-body
  );
}

.album .list-item.md {
  margin-bottom: unit(2);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-md,
    $theme-line-height-body
  );
}

.album .list-link {
  color: color($theme-color-primary);
  @include transition(color);

  &:hover {
    color: color($theme-color-text);
  }
}

.album .meta-list,
.album .listen-list,
.album .praise-list {
  color: color($theme-color-text-weak);
}

.album .praise-list .detail {
  font-size: font-size($theme-font-size-xs);
  @include ellipsis;
}

// Tracks

.album .tracks .track-list .list-item {
  display: flex;
}

.album .tracks .track-list .index-col {
  flex: 0 0 unit(3);
}

.album .tracks .track-list .title-col {
  flex: 1 1 unit(40);
  padding-left: unit(1);
  @include ellipsis;
}

.album .tracks .track-list .link-col {
  flex: 0 0 unit(6);
  padding-left: unit(1);
  text-align: right;
  text-transform: lowercase;
}

// Credits

.album .credits {
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-xs,
    $theme-line-height-body
  );
}

.album .credits .credit-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > :nth-child(odd) {
    margin-right: unit(1);
  }
}

.album .credits p {
  margin-top: unit(2);
  margin-bottom: unit(2);
}
