.footer .footer-content {
  padding-top: unit(6);
  padding-bottom: unit(4);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: color($theme-color-border);
}

// Grid

.footer .footer-grid {
  display: grid;
  grid-column-gap: unit(6);
  grid-template-columns: 1fr;
  grid-template-areas: "social" "directory" "legal";
  align-items: stretch;

  @include at-media("tablet") {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "social social directory" "social social legal";
  }
}

.footer .footer-grid .directory {
  grid-area: directory;
}

.footer .footer-grid .legal {
  grid-area: legal;
}

.footer .footer-grid .social {
  grid-area: social;
}

// Social

.footer .social .social-group {
  margin-top: unit(-1.25);
  margin-left: unit(-1.25);
  margin-bottom: unit(6);
}

// Directory

.footer .directory .directory-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: unit(3);
}

.footer .directory .directory-group {
  width: 50%;
  margin-bottom: unit(3);
}

.footer .directory .directory-title {
  font-weight: font-weight($theme-font-weight-bold);
}

.footer .directory .directory-list {
  list-style-type: none;
  margin-top: unit(1);
}

.footer .directory .directory-item {
  margin-bottom: unit(1);

  &:last-child {
    margin-bottom: 0;
  }
}

.footer .directory .directory-link {
  @include transition(color);

  &:hover,
  &:active {
    color: color($theme-color-primary);
  }
}
