@use "rtg-design-web" as *;

.layout--margin {
  margin-top: units($theme-layout-margin-phone);
  margin-bottom: units($theme-layout-margin-phone);

  @include at-media("tablet") {
    margin-top: units($theme-layout-margin-tablet);
    margin-bottom: units($theme-layout-margin-tablet);
  }

  @include at-media("desktop") {
    margin-top: units($theme-layout-margin-desktop);
    margin-bottom: units($theme-layout-margin-desktop);
  }

  @include at-media("widescreen") {
    margin-top: units($theme-layout-margin-widescreen);
    margin-bottom: units($theme-layout-margin-widescreen);
  }
}
