@use "rtg-design-web" as *;

// Article

.post .header .title {
  font-family: font-family("heading");
  font-size: font-size($theme-font-size-3xl);
  font-weight: font-weight($theme-font-weight-bold);
  line-height: line-height($theme-line-height-heading);
}

.post .header .metadata {
  margin-top: units(2);
  font-family: font-family("body");
  font-size: font-size($theme-font-size-xs);
  line-height: line-height($theme-line-height-body);
}

.post .header .metadata .author {
  font-weight: font-weight($theme-font-weight-medium);
}

.post .header .metadata a.category {
  color: color($theme-color-text-link);
  font-weight: font-weight($theme-font-weight-medium);
  text-transform: uppercase;
  @include transition(color);

  &:hover {
    color: color($theme-color-text-link-hover);
  }
}

.post .header .image {
  margin-top: units(6);
}

.post .content {
  margin-top: units(6);
}

.post .footer {
  margin-top: units(6);
}
