// Article

.post .header > .title {
  font-weight: font-weight($theme-font-weight-bold);
  @include typeset(
    $theme-font-role-heading,
    $theme-font-size-3xl,
    $theme-line-height-heading
  );
}

.post .header > .metadata {
  margin-top: unit(1);
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-sm,
    $theme-line-height-body
  );
}

.post .header > .metadata a.category {
  color: color($theme-color-text-link);
  font-weight: font-weight($theme-font-weight-medium);
  text-transform: uppercase;
  @include transition(color);

  &:hover {
    color: color($theme-color-text-link-hover);
  }
}

.post .header > .banner {
  margin-top: unit(4);
}

.post .body {
  margin-top: unit(4);
}

.post .post-footer {
  margin-top: unit(6);
}

// Tags

.post .tags {
  @include typeset(
    $theme-font-role-body,
    $theme-font-size-sm,
    $theme-line-height-body
  );

  & > :not(:last-child) {
    margin-right: unit(1);
  }
}

.post .tags a.tag {
  color: color($theme-color-text-link);
  text-transform: uppercase;
  @include transition(color);

  &:hover {
    color: color($theme-color-text-link-hover);
  }
}
