@use "rtg-design-web" as *;

.post-card {
  position: relative;
  overflow: hidden;
  width: 100%;

  // Layout

  .body {
    padding-top: units(3);
  }

  .body .title {
    margin-top: units(2);
    font-family: font-family("heading");
    font-size: font-size($theme-font-size-xl);
    font-weight: font-weight("bold");
    line-height: line-height($theme-line-height-heading);
  }

  .body .subtitle {
    font-family: font-family("heading");
    font-size: font-size($theme-font-size-xs);
    font-weight: font-weight("medium");
    line-height: line-height($theme-line-height-ui);
    text-transform: uppercase;
  }

  .body .subtitle a {
    @include transition(color);
  }

  .body .copy {
    margin-top: units(2);
    margin-bottom: units(2);
    font-family: font-family("body");
    font-size: font-size($theme-font-size-md);
    line-height: line-height($theme-line-height-body);
  }

  .image-container {
    position: relative;
    height: 0;
    padding-top: 50%;
    overflow: hidden;
    background-color: color($theme-color-background-strong);
  }

  .image-container .image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  // Aspect variants

  &.square .image-container {
    padding-top: 100%;
  }

  &.standard .image-container {
    padding-top: 66%;
  }

  &.widescreen .image-container {
    padding-top: 56.25%;
  }

  // Theme variants

  &.light {
    color: color($theme-color-text);
    background-color: color($theme-color-background);

    & .body .subtitle a {
      color: color($theme-color-primary);

      &:hover {
        color: color($theme-color-text);
      }
    }
  }

  &.dark {
    color: color($theme-color-text-inverse);
    background-color: color($theme-color-background-inverse);

    & .body .subtitle a {
      color: color($theme-color-primary);

      &:hover {
        color: color($theme-color-text-inverse);
      }
    }
  }
}
