@use "rtg-design-web" as *;

.prgmg-project-card {
  position: relative;

  // Layout

  .project-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: units(4);
    padding-bottom: units(4);
    padding-left: units(4);
    padding-right: units(4);
    color: color($theme-color-text);
    background: color($theme-color-background-weak);
  }

  .header {
  }

  .body {
  }

  .footer {
    margin-top: auto;
  }

  // Header

  .title {
    margin-bottom: units(3);
    margin-bottom: units(3);
    font-family: family("heading");
    font-size: font-size($theme-font-size-lg);
    font-weight: font-weight("bold");
    line-height: line-height($theme-line-height-heading);
  }

  // Description

  .description {
    font-family: family("body");
    font-size: font-size($theme-font-size-md);
    line-height: line-height($theme-line-height-body);
  }

  .description p {
    margin-bottom: units(2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .description a {
    color: color($theme-color-primary);
    @include transition(color);

    &:hover {
      color: color($theme-color-text);
    }
  }

  // Tech list

  .tech-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: units(3);
    font-family: family("code");
    font-size: font-size($theme-font-size-xs);
    line-height: line-height($theme-line-height-body);
  }

  .tech-list .tag {
    margin-right: units(2);
    margin-bottom: units(0.5);
  }

  // Links

  .links {
    display: flex;
    margin-top: units(2);
    margin-bottom: units(-1);
    margin-left: units(-1);
  }

  .links a {
    padding: units(1);
    color: color($theme-color-text);
    @include transition(color);

    &:hover {
      color: color($theme-color-primary);
    }
  }
}
