.social-grid {
  display: block;
}

.social-grid .item {
  display: inline-block;
}

.social-grid .link {
  @include transition(color);
}

// Theme variants

.social-grid.light .link {
  color: color($theme-color-text-inverse);

  &:hover,
  &:active {
    color: color($theme-color-primary);
  }
}

.social-grid.dark .link {
  color: color($theme-color-text);

  &:hover,
  &:active {
    color: color($theme-color-primary);
  }
}
