@use "sass:math";
@use "rtg-design-web" as *;

.album {
  $album-grid-gap: $theme-site-margin;

  // Grid

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: $album-grid-gap * -0.5;
    margin-right: $album-grid-gap * -0.5;

    @include at-media("tablet-lg") {
      flex-direction: row;
    }
  }

  .col {
    position: relative;
    width: 100%;
    max-width: breakpoint("tablet-lg");
    padding-left: $album-grid-gap * 0.5;
    padding-right: $album-grid-gap * 0.5;

    &:not(:first-child) {
      margin-top: units(2);
    }

    @include at-media("tablet-lg") {
      &:not(:first-child) {
        margin-top: units(0);
      }
    }

    &.left {
      @include at-media("tablet-lg") {
        width: math.percentage(math.div(3, 5));
      }
    }

    &.right {
      @include at-media("tablet-lg") {
        width: math.percentage(math.div(2, 5));
      }
    }
  }

  // Layout

  .section {
    margin-bottom: units(4);

    > .title {
      margin-bottom: units(4);
      font-family: family("heading");
      font-size: font-size($theme-font-size-sm);
      font-weight: font-weight("bold");
      line-height: line-height($theme-line-height-heading);
      text-transform: uppercase;
    }
  }

  .header {
    margin-bottom: units(6);

    > .title.h1 {
      font-family: family("heading");
      font-size: font-size($theme-font-size-3xl);
      font-weight: font-weight("bold");
      line-height: line-height($theme-line-height-heading);
    }

    > .title.h2 {
      margin-top: units(2);
      font-family: family("heading");
      font-size: font-size($theme-font-size-md);
      font-weight: font-weight("medium");
      line-height: line-height($theme-line-height-heading);
    }
  }

  // Album elements

  .cover-art {
    max-width: breakpoint("tablet");
    margin: auto;
    padding-bottom: units(4);

    @include at-media("tablet-lg") {
      margin: units(0);
      padding-bottom: units(0);
    }
  }

  .description {
    @include content;
  }

  .copyright {
    margin-top: units(2);
    font-size: font-size($theme-font-size-xs);
  }

  // Lists

  .list-item {
    font-family: family("body");
    line-height: line-height($theme-line-height-body);
    @include ellipsis;

    &.xs {
      margin-bottom: units(1);
      font-size: font-size($theme-font-size-xs);
    }

    &.sm {
      margin-bottom: units(1.5);
      font-size: font-size($theme-font-size-sm);
    }

    &.md {
      margin-bottom: units(2);
      font-size: font-size($theme-font-size-md);
    }
  }

  .list-link {
    color: color($theme-color-primary);
    @include transition(color);

    &:hover {
      color: color($theme-color-text);
    }
  }

  .meta-list,
  .listen-list,
  .praise-list {
    color: color($theme-color-text-weak);
    font-size: font-size($theme-font-size-sm);
  }

  .track-list {
    .track-row {
      display: flex;
    }

    .index-col {
      flex: 0 0 units(3);
    }

    .title-col {
      flex: 1 1 units(40);
      padding-left: units(1);
      @include ellipsis;
    }

    .link-col {
      flex: 0 0 units(6);
      padding-left: units(1);
      text-align: right;
      text-transform: lowercase;
    }
  }

  .credit-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > :nth-child(odd) {
      margin-right: units(1);
    }
  }

  .praise-list {
    margin-bottom: var(--spacing-5)
  }
}
