@use "sass:math";
@use "rtg-design-web" as *;

.album {
  $album-grid-gap: $theme-site-margin;

  // Grid

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: $album-grid-gap * -0.5;
    margin-right: $album-grid-gap * -0.5;

    @include at-media("tablet-lg") {
      flex-direction: row;
    }
  }

  .col {
    position: relative;
    width: 100%;
    max-width: breakpoint("tablet-lg");
    padding-left: $album-grid-gap * 0.5;
    padding-right: $album-grid-gap * 0.5;

    &.left {
      @include at-media("tablet-lg") {
        width: math.percentage(math.div(3, 5));
      }
    }

    &.right {
      @include at-media("tablet-lg") {
        width: math.percentage(math.div(2, 5));
      }
    }
  }

  // Layout

  .section {
    > .title {
      margin-bottom: var(--spacing-5);
      @include h5;
    }
  }

  .header {
    margin-bottom: var(--spacing-6);

    > .title.h1 {
      @include h1;
    }

    > .title.h2 {
      margin-top: var(--spacing-2);
      font-family: family("heading");
      font-size: var(--font-size-md);
      font-weight: font-weight("medium");
      line-height: line-height("heading");
    }
  }

  // Album elements

  .cover-art {
    max-width: breakpoint("tablet");
    margin: auto;

    @include at-media("tablet-lg") {
      margin: units(0);
    }
  }

  .description {
    @include content;
  }

  .copyright {
    @include copy-margin;
    font-size: var(--font-size-sm);
  }

  // Lists

  .list-item {
    margin-bottom: var(--spacing-2);
    font-family: family("body");
    line-height: line-height("body");
    @include ellipsis;

    &.sm {
      font-size: var(--font-size-sm);
    }

    &.md {
      font-size: var(--font-size-md);
    }
  }

  .list-link {
    @include link;
  }

  .listen-list,
  .praise-list {
    &:not(:last-child) {
      margin-bottom: var(--spacing-5);
    }
  }

  .praise-list {
    .title {
      font-size: var(--font-size-sm);
    }

    .detail {
      font-size: var(--font-size-xs);
    }
  }

  .track-list {
    .track-row {
      display: flex;
    }

    .index-col {
      flex: 0 0 units(3);
    }

    .title-col {
      flex: 1 1 units(40);
      padding-left: units(1);
      @include ellipsis;
    }

    .link-col {
      flex: 0 0 units(6);
      padding-left: units(1);
      text-align: right;
      text-transform: lowercase;
    }
  }

  .credit-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > :nth-child(odd) {
      margin-right: units(1);
    }
  }
}
