.app {
  &.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    // Hide elements when printing
    @media print {
      & > header,
      & > footer {
        display: none;
      }

      button {
        display: none;
      }
    }
  }

  &.main {
    position: relative;
    flex: 1;
    margin-top: units($theme-nav-height);
  }
}
