@use "rtg-design-web" as *;

.avatar {
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;

  // Size variants
  $size-xs: 4;
  $size-sm: 8;
  $size-md: 12;
  $size-lg: 32;

  &.xs {
    width: units($size-xs);
    height: units($size-xs);
  }

  &.sm {
    width: units($size-sm);
    height: units($size-sm);
  }

  &.md {
    width: units($size-md);
    height: units($size-md);
  }

  &.lg {
    width: units($size-lg);
    height: units($size-lg);
  }
}
