@use "rtg-design-web" as *;

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: units(2);
  padding-right: units(2);
  font-size: font-size($theme-font-size-md);
  font-weight: font-weight("normal");
  line-height: line-height($theme-line-height-ui);
  vertical-align: bottom;
  white-space: nowrap;
  border: none;
  user-select: none;
  @include transition((color, background-color, border-color));
}

// Size variants

.button.small {
  height: units($theme-button-height-small);
}

.button.medium {
  height: units($theme-button-height-medium);
}

.button.large {
  height: units($theme-button-height-large);
}

// Theme variants

.button.ghost {
  padding: 0;
  background-color: color(transparent);
}

.button.light {
  color: color($theme-color-text);
  background-color: color($theme-color-background);
  border-color: color($theme-color-background-inverse);
  border-width: $theme-button-border-width;
  border-style: $theme-button-border-style;
  border-radius: $theme-button-border-radius;

  &:hover {
    color: color($theme-color-text-inverse);
    background-color: color($theme-color-background-inverse);
    border-color: color($theme-color-background-inverse);
  }
}

.button.dark {
  color: color($theme-color-text-inverse);
  background-color: color($theme-color-background-inverse);
  border-color: color($theme-color-background-inverse);
  border-width: $theme-button-border-width;
  border-style: $theme-button-border-style;
  border-radius: $theme-button-border-radius;

  &:hover {
    color: color($theme-color-text);
    background-color: color($theme-color-background);
    border-color: color($theme-color-background-inverse);
  }
}

// Type variant: icon-btn

.button.icon-btn {
  padding: 0;
}

.button.icon-btn.small {
  width: units($theme-button-height-small);
}

.button.icon-btn.medium {
  width: units($theme-button-height-medium);
}

.button.icon-btn.large {
  width: units($theme-button-height-large);
}
