@use "rtg-design-web" as *;
@use "../../design/stylesheets/rtgds" as deprecated;

$button-border-width: deprecated.$theme-border-width;
$button-border-style: solid;
$button-border-radius: 0;
$button-height-small: 4;
$button-height-medium: 5;
$button-height-large: 6;

@mixin with-border {
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-border-radius;
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: units(2);
  padding-right: units(2);
  font-size: var(--font-size-md);
  font-weight: font-weight("normal");
  line-height: line-height("ui");
  vertical-align: bottom;
  white-space: nowrap;
  border: none;
  user-select: none;
  @include transition((color, background-color, border-color));
}

// Size variants

.button.small {
  height: units($button-height-small);
}

.button.medium {
  height: units($button-height-medium);
}

.button.large {
  height: units($button-height-large);
}

// Theme variants

.button.ghost {
  padding: 0;
  background-color: color(transparent);
}

.button.light {
  color: color($theme-color-text);
  background-color: color($theme-color-background);
  border-color: color($theme-color-background-inverse);
  @include with-border;

  &:hover {
    color: color($theme-color-text-inverse);
    background-color: color($theme-color-background-inverse);
    border-color: color($theme-color-background-inverse);
  }
}

.button.dark {
  color: color($theme-color-text-inverse);
  background-color: color($theme-color-background-inverse);
  border-color: color($theme-color-background-inverse);
  @include with-border;

  &:hover {
    color: color($theme-color-text);
    background-color: color($theme-color-background);
    border-color: color($theme-color-background-inverse);
  }
}

// Type variant: icon-btn

.button.icon-btn {
  padding: 0;
}

.button.icon-btn.small {
  width: units($button-height-small);
}

.button.icon-btn.medium {
  width: units($button-height-medium);
}

.button.icon-btn.large {
  width: units($button-height-large);
}
