@use "rtg-design-web" as *;
@use "../../design/stylesheets/rtgds" as deprecated;

.container {
  width: 100%;
  padding-left: deprecated.$theme-site-margin;
  padding-right: deprecated.$theme-site-margin;
}

.max-width-container {
  margin-left: auto;
  margin-right: auto;

  &.prose {
    max-width: 80ex;
  }

  &.phone {
    max-width: breakpoint("phone");
  }

  &.phone-lg {
    max-width: breakpoint("phone-lg");
  }

  &.tablet {
    max-width: breakpoint("tablet");
  }

  &.tablet-lg {
    max-width: breakpoint("tablet-lg");
  }

  &.desktop {
    max-width: breakpoint("desktop");
  }

  &.desktop-lg {
    max-width: breakpoint("desktop-lg");
  }

  &.widescreen {
    max-width: breakpoint("widescreen");
  }
}
