@use "rtg-design-web" as *;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;

  .max-width-container {
    margin-left: auto;
    margin-right: auto;

    &.prose {
      max-width: 80ex;
    }
  }

  &.phone {
    max-width: breakpoint("phone");
  }

  &.phone-lg {
    max-width: breakpoint("phone-lg");
  }

  &.tablet {
    max-width: breakpoint("tablet");
  }

  &.tablet-lg {
    max-width: breakpoint("tablet-lg");
  }

  &.desktop {
    max-width: breakpoint("desktop");
  }

  &.desktop-lg {
    max-width: breakpoint("desktop-lg");
  }

  &.widescreen {
    max-width: breakpoint("widescreen");
  }
}
