@use "rtg-design-web" as *;

.featured-project-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: var(--spacing-4);
  color: var(--color-text);
  background-color: var(--color-background-weak);
  overflow: hidden;

  @include at-media("tablet") {
    padding: var(--spacing-5);
  }

  &:not(:first-of-type) {
    margin-top: var(--spacing-6);

    @include at-media("desktop") {
      margin-top: var(--spacing-7);
    }
  }

  // Layout

  .project-content {
    position: relative;
    grid-area: 1 / -1;
    z-index: 2;

    @include at-media("tablet") {
      grid-area: 1 / 1 / -1 / 9;
    }

    @include at-media("tablet-lg") {
      grid-area: 1 / 1 / -1 / 8;
    }

    @include at-media("desktop") {
      grid-area: 1 / 1 / -1 / 7;
    }
  }

  .project-image {
    position: relative;
    grid-area: 1 / -1;
    z-index: 1;
    background-color: var(--color-background);
    box-shadow: 0 0 units(4) var(--color-background);
    border-radius: units(0.5);
    overflow: hidden;
    visibility: hidden;
    height: 0;

    @include at-media("tablet") {
      grid-area: 1 / 6 / -1 / -1;
      visibility: visible;
      height: auto;
    }
  }

  // Header

  .title {
    @include h3;
    margin-top: var(--spacing-2);
  }

  .overline {
    font-family: family("code");
    font-size: var(--font-size-sm);
    line-height: line-height("heading");
  }

  // Description

  .description {
    @include copy;
    background-color: var(--color-background-weak);
    margin-top: var(--spacing-5);

    @include at-media("tablet") {
      padding: var(--spacing-4);
      border-color: var(--color-text);
      border-width: 2px;
      border-style: solid;
    }

    p {
      @include copy-margin;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      @include link;
    }
  }

  // Tech list

  .tech-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacing-5);
    font-family: family("code");
    font-size: var(--font-size-sm);
    line-height: line-height("body");
  }

  .tech-list .tag {
    margin-right: units(2);
    margin-bottom: units(0.5);
  }

  // Links

  .links {
    display: flex;
    margin-top: units(2);
    margin-bottom: units(-1);
    margin-left: units(-1);

    a {
      padding: var(--spacing-2);
      @include link("inherit");
    }
  }
}
