@use "rtg-design-web" as *;

.footer-directory {
  .directory-nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: units(3);
  }

  .directory-group {
    width: 50%;
    margin-bottom: units(3);
  }

  .directory-title {
    font-weight: font-weight("bold");
  }

  .directory-list {
    list-style-type: none;
    margin-top: units(1);
  }

  .directory-item {
    margin-bottom: units(1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .directory-link {
    @include transition(color);

    &:hover,
    &:active {
      color: color($theme-color-primary);
    }
  }
}
