@use "rtg-design-web" as *;

.footer {
  .footer-content {
    padding-top: units(6);
    padding-bottom: units(4);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: color($theme-color-border);
    font-family: family("body");
    font-size: font-size($theme-font-size-xs);
    line-height: line-height($theme-line-height-body);
  }

  // Grid

  .footer-grid {
    display: grid;
    grid-column-gap: units(6);
    grid-template-columns: 1fr;
    grid-template-areas: "social" "directory" "legal";
    align-items: stretch;

    @include at-media("tablet") {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "social social directory" "social social legal";
    }
  }

  .directory {
    grid-area: directory;
  }

  .legal {
    grid-area: legal;
  }

  .social {
    grid-area: social;

    .social-icon-group {
      margin-top: units(-1.25); // Align icon top
      margin-left: units(-1.25); // Align icon left
      margin-bottom: units(6);
    }
  }
}
