@use "rtg-design-web" as *;

.footer-directory {
  .directory-nav {
    display: grid;
    grid-gap: var(--spacing-5);
    grid-template-columns: 1fr 1fr;
  }

  .directory-group {
    .directory-title {
      font-weight: font-weight("bold");
    }

    .directory-list {
      list-style-type: none;

      .directory-item {
        margin-top: var(--spacing-2);
      }
    }

    .directory-link {
      @include transition(color);

      &:hover,
      &:active {
        color: color($theme-color-primary);
      }
    }
  }
}
