@use "rtg-design-web" as *;
@use "../../design/stylesheets/rtgds" as deprecated;

.global-navigation {
  @mixin mobile-only {
    @include at-media(deprecated.$theme-nav-breakpoint) {
      display: none;
    }
  }

  .menu-toggle {
    // Override user agent button styles
    border: none;
    background-color: transparent;
    margin: 0;
    @include mobile-only;
  }

  .nav-list {
    display: none;

    @include at-media(deprecated.$theme-nav-breakpoint) {
      display: flex;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    height: units(deprecated.$theme-nav-height);
    font-family: family("ui");
    font-size: var(--font-size-lg);
    line-height: line-height("ui");

    @include at-media(deprecated.$theme-nav-breakpoint) {
      padding-left: units(2);
      padding-right: units(2);
      font-size: var(--font-size-sm);
    }

    &--collapsible {
      .expanded {
        transform: rotate(180deg);
      }

      .chevron {
        margin-left: auto;
        @include transition(transform, slow, fast);

        @include at-media(deprecated.$theme-nav-breakpoint) {
          margin-left: units(0.5);
        }
      }
    }
  }

  .nav-link {
    @include link("inherit");

    &.active {
      color: var(--color-primary);
    }
  }

  // Submenu

  .submenu {
    $horizontal-padding-token: 2;
    position: static;
    @include transition(max-height, slow, fast);
    max-height: 0;
    padding-left: units($horizontal-padding-token);
    padding-right: units($horizontal-padding-token);
    overflow: hidden;
    white-space: nowrap;
    background-color: deprecated.color(deprecated.$theme-color-background-weak);

    @include at-media(deprecated.$theme-nav-breakpoint) {
      position: absolute;
      top: units(deprecated.$theme-nav-height);
      transform: translate(units($horizontal-padding-token) * -1);
    }

    .submenu-item {
      display: flex;
      align-items: center;
      min-height: units(5);
      font-family: family("ui");
      font-size: var(--font-size-md);
      line-height: line-height("ui");

      @include at-media(deprecated.$theme-nav-breakpoint) {
        min-height: units(4);
        font-size: var(--font-size-sm);
      }
    }
  }

  .nav-item:hover .submenu,
  .submenu.expanded {
    max-height: 360px;
  }

  // Mobile menu

  .mobile-menu {
    position: fixed;
    top: units(deprecated.$theme-nav-height);
    left: 0;
    width: 100%;
    height: 100%;
    @include mobile-only;

    .nav-list {
      display: block;
    }

    .content {
      position: absolute;
      top: 0;
      width: 80%;
      height: 100vh;
      background-color: deprecated.color(
        deprecated.$theme-color-background-weak
      );
      padding-left: deprecated.$theme-site-margin;
      padding-right: deprecated.$theme-site-margin;
      overflow-y: auto;
      @include transition(left, slow, fast);
    }

    &.is-closed {
      pointer-events: none;

      .content {
        left: -100%;
      }

      .background-overlay {
        opacity: 0;
      }
    }

    &.is-open {
      pointer-events: all;

      .content {
        left: 0;
      }

      .background-overlay {
        opacity: 0.5;
      }
    }
  }

  // Background overlay

  .background-overlay {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    @include transition(opacity, slow, fast);
    @include mobile-only;
  }
}
