@use "rtg-design-web" as *;
@use "../../design/stylesheets/rtgds" as deprecated;

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: color("text");
  background-color: color("background");
  z-index: 10000;

  &-content-wrapper {
    display: flex;
    align-items: center;
    margin-left: deprecated.$theme-site-margin;
    margin-right: deprecated.$theme-site-margin;
    height: units(deprecated.$theme-nav-height);
    white-space: nowrap;
    font-family: family("body");
    font-size: var(--font-size-sm);
    line-height: line-height("ui");
  }

  .header-item {
    display: flex;
    align-items: center;
    height: units(deprecated.$theme-nav-height);
  }

  .header-name {
    margin-right: units(2);
    font-weight: font-weight("medium");
  }

  .header-content {
    flex: auto;
    display: flex;
    justify-content: flex-end;

    @include at-media(deprecated.$theme-nav-breakpoint) {
      justify-content: flex-start;
    }
  }
}
