@use "rtg-design-web" as *;

.global-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: $theme-site-margin;
  margin-right: $theme-site-margin;
  height: units($theme-nav-height);
  color: color($theme-color-text);
  background-color: color($theme-color-background);
  z-index: 10000;
  white-space: nowrap;
  font-family: family("body");
  font-size: var(--font-size-sm);
  line-height: line-height($theme-line-height-ui);

  .header-item {
    display: flex;
    align-items: center;
    height: units($theme-nav-height);
  }

  .header-name {
    margin-right: units(2);
    font-weight: font-weight("medium");
  }

  .header-content {
    flex: auto;
    display: flex;
    justify-content: flex-end;

    @include at-media($theme-nav-breakpoint) {
      justify-content: flex-start;
    }
  }
}
