@use "rtg-design-web" as *;

.home {
  .about {
    display: flex;
    flex-direction: column;

    @include at-media("tablet") {
      flex-direction: row;
    }

    .col {
      @include at-media("tablet") {
        padding-left: var(--spacing-3);
        padding-right: var(--spacing-3);
      }

      @include at-media("desktop") {
        padding-left: var(--spacing-4);
        padding-right: var(--spacing-4);
      }

      @include at-media("widescreen") {
        padding-left: var(--spacing-5);
        padding-right: var(--spacing-5);
      }
    }

    .image-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include at-media("tablet") {
        align-items: flex-end;
      }
    }

    .copy-wrapper {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-top: units(6);

      @include at-media("tablet") {
        padding-top: units(0);
      }

      .headline {
        @include h3;
      }

      .text {
        @include copy;
        @include heading-margin-sm;
      }

      .cta-links {
        margin-top: var(--spacing-5);
      }
    }
  }
}
