@use "rtg-design-web" as *;

.music {
  .explore-module {
    .header {
      .title {
        @include h2;
      }

      .cta {
        @include h6;
        margin-top: var(--spacing-1);

        a {
          @include link;
        }
      }
    }

    .body {
      margin-top: var(--spacing-4);
    }
  }

  .explore-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: units(4);

    @include at-media("tablet") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include at-media("desktop") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include at-media("widescreen") {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .inquire {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;

    @include at-media("widescreen") {
      grid-column-start: 4;
      grid-column-end: span 1;
      text-align: left;
    }
  }
}
