@use "rtg-design-web" as *;

.post-card {
  position: relative;
  overflow: hidden;
  width: 100%;

  // Layout

  .body {
    padding: var(--spacing-3);

    .title {
      @include h4;
      margin-top: var(--spacing-3);
    }

    .subtitle {
      @include h6;

      a {
        @include link;
      }
    }

    .copy {
      margin-top: var(--spacing-3);
      @include copy;
    }
  }

  .image-container {
    position: relative;
    height: 0;
    padding-top: 50%;
    overflow: hidden;
    background-color: color($theme-color-background-strong);

    .image {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }

  // Aspect variants

  &.square .image-container {
    padding-top: 100%;
  }

  &.standard .image-container {
    padding-top: 66%;
  }

  &.widescreen .image-container {
    padding-top: 56.25%;
  }

  // Theme variants

  &.light {
    color: color($theme-color-text);
    background-color: color($theme-color-background-weak);
  }

  &.dark {
    color: color($theme-color-text-inverse);
    background-color: color($theme-color-background-inverse);

    & .body a {
      &:hover {
        color: color($theme-color-text-inverse);
      }
    }
  }
}
