@use "rtg-design-web" as *;

.post {
  .content {
    .header {
      .title {
        font-family: family("heading");
        font-size: var(--font-size-display-lg);
        font-weight: font-weight("bold");
        line-height: line-height($theme-line-height-heading);
        text-align: center;

        &:after {
          content: "";
          display: block;
          width: units(6);
          height: 1px;
          background-color: color($theme-color-text);
          margin-top: var(--spacing-5);
          margin-left: auto;
          margin-right: auto;
        }
      }

      .metadata {
        margin-top: var(--spacing-5);
        font-family: family("body");
        font-size: var(--font-size-sm);
        line-height: line-height($theme-line-height-body);
        text-align: center;

        .author {
          font-weight: font-weight("medium");
        }

        .category {
          font-weight: font-weight("medium");
          text-transform: uppercase;
        }

        a {
          @include link;
        }
      }
    }

    .image {
      margin-top: var(--spacing-6);
    }

    .body {
      margin-top: var(--spacing-6);
    }
  }
}
