@use "rtg-design-web" as *;
@use "../../design/stylesheets/rtgds" as deprecated;

.prgmg-project-card {
  position: relative;

  // Layout

  .project-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--spacing-4);
    color: var(--color-text);
    background: deprecated.color(deprecated.$theme-color-background-weak);
  }

  .header {
  }

  .body {
    margin-top: var(--spacing-5);
  }

  .footer {
    margin-top: auto;
  }

  // Header

  .title {
    @include h4;
  }

  // Description

  .description {
    @include copy;

    p {
      @include copy-margin;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      @include link;
    }
  }

  // Tech list

  .tech-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacing-5);
    font-family: family("code");
    font-size: var(--font-size-sm);
    line-height: line-height("body");

    .tag {
      margin-right: units(2);
      margin-bottom: units(0.5);
    }
  }

  // Links

  .links {
    display: flex;
    margin-top: units(2);
    margin-bottom: units(-1);
    margin-left: units(-1);

    a {
      padding: var(--spacing-2);
      @include link("inherit");
    }
  }
}
