@use "../../design/stylesheets/rtgds" as deprecated;

// Theme variants

.section.light {
  color: var(--color-text);
  background-color: color("background");
}

.section.dark {
  color: var(--color-text-inverse);
  background-color: deprecated.color(
    deprecated.$theme-color-background-inverse
  );
}

.section.strong {
  color: var(--color-text);
  background-color: deprecated.color(deprecated.$theme-color-background-strong);
}
