.social-grid {
  display: block;

  .item {
    display: inline-block;
  }

  .link {
    @include link("inherit");
  }

  // Theme variants

  &.light {
    color: var(--color-text-inverse);
  }

  &.dark {
    color: var(--color-text);
  }
}
