.social-grid {
  display: block;

  .item {
    display: inline-block;
  }

  .link {
    @include transition(color);

    &:hover,
    &:active {
      color: color($theme-color-primary);
    }
  }

  // Theme variants

  &.light {
    .link {
      color: color($theme-color-text-inverse);

      &:hover,
      &:active {
        color: color($theme-color-primary);
      }
    }
  }

  &.dark {
    .link {
      color: color($theme-color-text);

      &:hover,
      &:active {
        color: color($theme-color-primary);
      }
    }
  }
}
