html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
*[disabled] {
  cursor: not-allowed;
}
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif
  ;
  -webkit-font-smoothing: antialiased;
}
code {
  font-family:
    Menlo,
    Consolas,
    Monaco,
    "Liberation Mono",
    "Lucida Console",
    monospace
  ;
}
a, a:focus, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}
img {
  user-select: none;
}
button, a, label {
  cursor: pointer;
}
