$theme-font-type-sans: helvetica;
$theme-font-type-serif: false;
$theme-font-type-mono: monospace;

$theme-font-role-body: helvetica;
$theme-font-role-heading: helvetica;
$theme-font-role-ui: helvetica;
$theme-font-role-code: monospace;

$theme-font-size-2xs: 1;
$theme-font-size-xs: 2;
$theme-font-size-sm: 4;
$theme-font-size-md: 6;
$theme-font-size-lg: 9;
$theme-font-size-xl: 11;
$theme-font-size-2xl: 13;
$theme-font-size-3xl: 14;

$theme-font-weight-thin: false;
$theme-font-weight-ultralight: false;
$theme-font-weight-light: false;
$theme-font-weight-normal: 4;
$theme-font-weight-medium: 5;
$theme-font-weight-semibold: false;
$theme-font-weight-bold: 7;
$theme-font-weight-black: false;

$theme-line-height-ui: 1;
$theme-line-height-heading: 3;
$theme-line-height-body: 5;
$theme-line-height-extended: 7;

$theme-color-primary: gold-40;
$theme-color-text: gray-90;
$theme-color-text-inverse: gray-3;
$theme-color-text-weak: gray-40;
$theme-color-text-weak-hover: gray-90;
$theme-color-text-link: $theme-color-primary;
$theme-color-text-link-hover: $theme-color-text;
$theme-color-background: gray-3;
$theme-color-background-weak: white;
$theme-color-background-strong: gray-10;
$theme-color-background-inverse: gray-90;
$theme-color-border: gray-10;

// General

$theme-button-height: 5;
$theme-button-border-width: 2px;
$theme-button-border-style: solid;
$theme-button-border-radius: 0;

$theme-nav-height: 6;
$theme-nav-breakpoint: tablet;

$theme-site-margin: 5%;

$theme-layout-margin-phone: 6;
$theme-layout-margin-tablet: 8;
$theme-layout-margin-desktop: 10;
$theme-layout-margin-widescreen: 12;

// Components

$theme-avatar-size-xs: 4;
$theme-avatar-size-sm: 8;
$theme-avatar-size-md: 12;
$theme-avatar-size-lg: 32;
