$theme-color-text: $color-gray-90;
$theme-color-text-inverse: $color-gray-2;
$theme-color-text-weak: $color-gray-40;
$theme-color-text-weak-hover: $color-gray-90;

$theme-color-background: $color-gray-2;
$theme-color-background-weak: $color-gray-1;
$theme-color-background-strong: $color-gray-10;
$theme-color-background-inverse: $color-gray-90;

$theme-color-border: $color-gray-10;
