@use "rtg-design-web" as *;

.icon svg,
.icon img {
  width: 100%;
  height: 100%;
}

// SIze variants

.icon.small {
  width: units(2.5);
  height: units(2.5);
}

.icon.medium {
  width: units(4);
  height: units(4);
}

.icon.large {
  width: units(6);
  height: units(6);
}
