@use "rtg-design-web" as *;

.section-header {
  margin-top: units(4);
  margin-bottom: units(4);

  @include at-media("tablet") {
    margin-top: units(5);
    margin-bottom: units(5);
  }

  @include at-media("desktop") {
    margin-top: units(6);
    margin-bottom: units(6);
  }
}

.section-header.title.h1 {
  font-family: font-family("heading");
  font-size: font-size($theme-font-size-3xl);
  font-weight: font-weight($theme-font-weight-bold);
  line-height: line-height($theme-line-height-heading);
}

.section-header.title.h2 {
  font-family: font-family("heading");
  font-size: font-size($theme-font-size-2xl);
  font-weight: font-weight($theme-font-weight-bold);
  line-height: line-height($theme-line-height-heading);
}
