// Theme variants

.section.light {
  color: color($theme-color-text);
  background-color: color($theme-color-background);
}

.section.dark {
  color: color($theme-color-text-inverse);
  background-color: color($theme-color-background-inverse);
}

.section.strong {
  color: color($theme-color-text);
  background-color: color($theme-color-background-strong);
}
