$theme-color-primary: gold-40;
$theme-color-text: gray-90;
$theme-color-text-inverse: gray-3;
$theme-color-text-weak: gray-50;
$theme-color-text-weak-hover: gray-90;
$theme-color-text-link: $theme-color-primary;
$theme-color-text-link-hover: $theme-color-text;
$theme-color-background: gray-3;
$theme-color-background-weak: white;
$theme-color-background-strong: gray-10;
$theme-color-background-inverse: gray-90;
$theme-color-border: gray-10;

// General

$theme-border-width: 2px;

$theme-nav-height: 6;
$theme-nav-breakpoint: tablet;

$theme-site-margin: 5%;
