$theme-color-background-inverse: gray-90;
$theme-color-background-strong: gray-10;
$theme-color-background-weak: white;
$theme-color-primary: gold-40;
$theme-color-text-inverse: gray-3;
$theme-color-text-weak: gray-50;

// General

$theme-border-width: 2px;
$theme-site-margin: 5%;
