@use "rtg-design-web" as *;

// Spacing

:root {
  --spacing-1: #{units(0.5)};
  --spacing-2: #{units(1)};
  --spacing-3: #{units(1.5)};
  --spacing-4: #{units(2)};
  --spacing-5: #{units(3)};
  --spacing-6: #{units(4)};
  --spacing-7: #{units(6)};
  --spacing-8: #{units(8)};

  @media screen and (min-width: breakpoint("tablet")) {
    --spacing-1: #{units(0.5)};
    --spacing-2: #{units(1)};
    --spacing-3: #{units(2)};
    --spacing-4: #{units(3)};
    --spacing-5: #{units(5)};
    --spacing-6: #{units(8)};
    --spacing-7: #{units(10)};
    --spacing-8: #{units(12)};
  }
}
