@use "rtg-design-web" as *;
@use "../../design/stylesheets/rtgds" as deprecated;

// Heading: Typesetting

@mixin _heading {
  font-family: family("heading");
  line-height: line-height("heading");
}

@mixin h1 {
  @include _heading;
  font-size: var(--font-size-display-md);
  font-weight: font-weight("bold");
}

@mixin h2 {
  @include _heading;
  font-size: var(--font-size-display-sm);
  font-weight: font-weight("bold");
}

@mixin h3 {
  @include _heading;
  font-size: var(--font-size-xl);
  font-weight: font-weight("bold");
}

@mixin h4 {
  @include _heading;
  font-size: var(--font-size-lg);
  font-weight: font-weight("bold");
}

@mixin h5 {
  @include _heading;
  font-size: var(--font-size-md);
  font-weight: font-weight("medium");
  text-transform: uppercase;
}

@mixin h6 {
  @include _heading;
  font-size: var(--font-size-sm);
  font-weight: font-weight("medium");
  text-transform: uppercase;
}

// Heading: Margins

@mixin heading-margin-sm {
  margin-top: var(--spacing-4);
}

@mixin heading-margin-md {
  margin-top: var(--spacing-5);
}

@mixin heading-margin-lg {
  margin-top: var(--spacing-6);
}

// Copy: Typesetting

@mixin _copy {
  font-family: family("body");
  font-weight: font-weight("normal");
  line-height: line-height("body");
}

@mixin copy-sm {
  @include _copy;
  font-size: var(--font-size-sm);
}

@mixin copy-md {
  @include _copy;
  font-size: var(--font-size-md);
}

// Copy: Margins

@mixin copy-margin {
  margin-top: units(2);
}

// Links

@mixin link($theme: "default") {
  @include transition(color, fast);

  @if $theme == "default" {
    color: var(--color-primary);

    &:hover {
      color: inherit;
    }
  }

  @if $theme == "inherit" {
    color: inherit;

    &:hover {
      color: var(--color-primary);
    }
  }
}
