@mixin typeset(
  $family: $theme-font-role-body,
  $size: $theme-font-size-md,
  $line-height: $theme-line-height-body
) {
  font-family: font-family($family);
  font-size: font-size($size);
  line-height: line-height($line-height);
}
