@use "rtg-design-web" as *;

@mixin content {
  font-size: var(--font-size-md);
  line-height: line-height($theme-line-height-body);

  h1 {
    @include h1;
    @include heading-margin-lg;
  }

  h2 {
    @include h2;
    @include heading-margin-md;
  }

  h3 {
    @include h3;
    @include heading-margin-md;
  }

  h4 {
    @include h4;
    @include heading-margin-md;
  }

  h5 {
    @include h5;
    @include heading-margin-sm;
  }

  h6 {
    @include h6;
    @include heading-margin-sm;
  }

  p {
    @include copy;
    @include copy-margin;
  }

  a {
    @include link;
  }

  b,
  strong {
    font-weight: font-weight("bold");
  }

  i,
  em {
    font-style: italic;
  }

  sup,
  sub {
    font-size: 80%;
    line-height: line-height($theme-line-height-ui);
  }

  sup {
    vertical-align: super;
  }

  sub {
    vertical-align: sub;
  }

  ul,
  ol {
    margin-top: units(2);
    margin-bottom: units(2);

    li {
      margin-top: units(1);
      margin-left: units(2);
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  pre {
    white-space: pre;
  }

  code {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-family: family("code");
    font-size: 85%;
    line-height: line-height($theme-line-height-body);
    white-space: break-spaces;
    background-color: color($theme-color-background-strong);
    border-radius: 6px;
  }

  blockquote {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-5);
    padding-left: units(2);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: color($theme-color-text);

    @include at-media("tablet") {
      margin-left: units(2) * -1;
    }

    p {
      font-family: family("body");
      font-size: var(--font-size-lg);
      line-height: line-height($theme-line-height-body);
    }

    cite {
      display: block;
      margin-top: var(--spacing-3);
      font-size: var(--font-size-sm);

      &::before {
        content: "— ";
      }
    }
  }

  figure {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-5);
  }

  figcaption {
    margin-top: var(--spacing-2);
    font-size: var(--font-size-sm);
    text-align: center;
  }
}
