// _mixins.scss

// Display
//

// Hide scrollbar
@mixin hide-scrollbar {
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

// Responsive
//

// Responsive Wrapper.
@mixin responsive-wrapper ($width, $padding-bottom) {
  position: relative;
  overflow: hidden;
  width: $width;
  height: 0;
  padding-bottom: $padding-bottom; // value in % or px determines aspect ratio
}

// Element that goes inside of the resposive wrapper.
@mixin responsive-element ($width, $height) {
  position: absolute;
  top: 0;
  left: 0;
  width: $width; // 100% fits to wrapper or value in px
  height: $height; // 100% fits to wrapper or value in px
}

// Images
//

// SVG as pseudo-element background.
@mixin svg-background ($width, $height){
  display: inline-block;
  content: '';
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: contain;
}

