@use "sass:math";
@use "rtg-design-web" as *;
@use "../../design/stylesheets/rtgds" as deprecated;

// Colors

:root {
  --color-text: #{color("text")};
  --color-text-inverse: #{deprecated.color(deprecated.$theme-color-text-inverse)};
  --color-border: #{color("border")};
  --color-primary: #{deprecated.color(deprecated.$theme-color-primary)};
}

// Typography

:root {
  $scale-phone: 1.2;

  --font-size-xs: #{type-scale(-3, $scale-phone)};
  --font-size-sm: #{type-scale(-2, $scale-phone)};
  --font-size-md: #{type-scale(0, $scale-phone)};
  --font-size-lg: #{type-scale(1, $scale-phone)};
  --font-size-xl: #{type-scale(2, $scale-phone)};
  --font-size-display-sm: #{type-scale(3, $scale-phone)};
  --font-size-display-md: #{type-scale(4, $scale-phone)};
  --font-size-display-lg: #{type-scale(5, $scale-phone)};

  @media screen and (min-width: breakpoint("tablet")) {
    --font-size-md: #{type-scale(0)};
    --font-size-lg: #{type-scale(1)};
    --font-size-xl: #{type-scale(2)};
    --font-size-display-sm: #{type-scale(3)};
    --font-size-display-md: #{type-scale(4)};
    --font-size-display-lg: #{type-scale(5)};
  }
}

// Spacing

:root {
  --spacing-1: #{units(0.5)};
  --spacing-2: #{units(1)};
  --spacing-3: #{units(1.5)};
  --spacing-4: #{units(2)};
  --spacing-5: #{units(3)};
  --spacing-6: #{units(4)};
  --spacing-7: #{units(6)};
  --spacing-8: #{units(8)};

  @media screen and (min-width: breakpoint("tablet")) {
    --spacing-1: #{units(0.5)};
    --spacing-2: #{units(1)};
    --spacing-3: #{units(2)};
    --spacing-4: #{units(3)};
    --spacing-5: #{units(5)};
    --spacing-6: #{units(8)};
    --spacing-7: #{units(10)};
    --spacing-8: #{units(12)};
  }
}

// Components

:root {
  // Module
  --module-padding: var(--spacing-7);
}
