// fixedElements.scss

// Page change
//

$pg-change-height: $rhythm-unit*1.5;

.pg-change {
  display: none;
  z-index: 1020;

  @include respond-to(md) {
    display: flex;
  }
}

.pg-down {
  position: fixed;
  right: $rhythm-unit;
  bottom: $rhythm-unit;
  transform: none;
  transition: transform $transition-normal linear;

  &:before {
    @include svg-background($pg-change-height, $pg-change-height);
    background-image: url('../images/icons/arrow-down-circle-thin.svg');
  }

  &.fin {
  // Slide `.pg-down` out of view once the last section is reached.
  transform: translateY($pg-change-height*2);
  }
}