// _links.scss

a, .link {
  color: inherit;
  text-decoration: underline;

  @media #{$non-touchscreen} {

    &:hover {
      text-decoration: none;
    }
  }
}

// Nav links
.navbar-brand, .navbar-brand:hover {
  color: $black;
  text-decoration: none;
}

.nav-item a {
  color: $black;
  text-decoration: none;

  @media #{$non-touchscreen} {

    &:hover {
      color: $bronze;
    }
  }

  &.active {
    color: $bronze;
  }
}

// Add cursor to any element with an `onclick` attribute.
[onclick] {
  cursor: pointer;
}