// File: _modals.scss

.modal-open {
  overflow: hidden; // Kill scroll on the body

  .my-modal {
    display: block;
    @include fadeIn();
  }
}

// The Modal (background)
.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  overflow: auto;
  outline: 0; // Prevent Chrome on Windows from adding a focus outline. For details, see
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
//  overscroll-behavior: contain; // compare against .modal-open
  background-color: rgb(250, 250, 250);
}

// Modal Content
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  min-height: 100vh;
}

.close {
  color: #111;
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 3em;
  opacity: .2;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  z-index: 90;
}

.close:hover,
.close:focus,
.prev:hover,
.next:hover {
  color: #000;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  min-height: 100vh;
}