// File: _modals.scss

// The Modal (background)
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  // overflow-y: scroll;
  z-index: 1050;
  background-color: $white;
  outline: 0; // Prevent Chrome on Windows from adding a focus outline.
  overscroll-behavior: contain; // Kill scroll on `body`. No Safari support.
  transform: translateX(-100%);
  transition: all $transition-lazy ease-in-out;
}

.modal-is-open {
  transform: translateX(0);
}

// Modal Content
.modal-content {
  position: relative;
  margin: auto;
  padding: $rhythm-unit/2;
  height: 100%;
  max-width: 1000px;
  // min-height: 100vh;
  overflow-y: auto;
  @include hide-scrollbar;

  @include respond-to(sm) {
    width: 80%;
  }
}

.close-modal {
  position: fixed;
  top: $rhythm-unit/2;
  right: $rhythm-unit;
  line-height: 0;
  opacity: .3;
  z-index: 1051;
  transition: $transition-quick ease;

  &:before {
    @include svg-background(24px, 24px);
    background-image: url('../images/icons/x-mark-2.svg');
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.my-slides {
  display: none;
}

